/*
- sp : 0 - 600px;
- tab-p : 600px -900px;
- tab-l : 900 - 1200px;
- bg : 1800px +
ORDER CHANGE : base > typography > general layout > grid > page layout > component
*/
/* general setting */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a,
a:link,
a:visited {
  text-decoration: none; }

button {
  cursor: pointer; }

body {
  font-size: 1.6em;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

.u-flex {
  display: flex; }

.u-flex-w {
  flex-wrap: wrap; }

.u-flex-nw {
  flex-wrap: nowrap; }

.u-inline-flex {
  display: inline-flex; }

.u-justify-content-center {
  justify-content: center; }

.u-justify-content-start {
  justify-content: flex-start; }

.u-justify-content-right {
  justify-content: flex-end; }

.u-flex-col {
  flex-direction: column; }

.u-flex-row {
  flex-direction: row; }

.u-color-white {
  color: #fff; }

.u-color-dark {
  color: #000; }

.u-color-primary {
  color: #0984e3; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

.mt-11 {
  margin-top: 11rem; }

.mt-12 {
  margin-top: 12rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-9 {
  margin-bottom: 9rem; }

.mb-10 {
  margin-bottom: 10rem; }

.mb-11 {
  margin-bottom: 11rem; }

.mb-12 {
  margin-bottom: 12rem; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mr-6 {
  margin-right: 6rem; }

.mr-7 {
  margin-right: 7rem; }

.mr-8 {
  margin-right: 8rem; }

.mr-9 {
  margin-right: 9rem; }

.mr-10 {
  margin-right: 10rem; }

.mr-11 {
  margin-right: 11rem; }

.mr-12 {
  margin-right: 12rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.ml-6 {
  margin-left: 6rem; }

.ml-7 {
  margin-left: 7rem; }

.ml-8 {
  margin-left: 8rem; }

.ml-9 {
  margin-left: 9rem; }

.ml-10 {
  margin-left: 10rem; }

.ml-11 {
  margin-left: 11rem; }

.ml-12 {
  margin-left: 12rem; }

@media only screen and (max-width: 1200px) {
  .mt-l-1 {
    margin-top: 1rem; }
  .mt-l-2 {
    margin-top: 2rem; }
  .mt-l-3 {
    margin-top: 3rem; }
  .mt-l-4 {
    margin-top: 4rem; }
  .mt-l-5 {
    margin-top: 5rem; }
  .mt-l-6 {
    margin-top: 6rem; }
  .mt-l-7 {
    margin-top: 7rem; }
  .mt-l-8 {
    margin-top: 8rem; }
  .mt-l-9 {
    margin-top: 9rem; }
  .mt-l-10 {
    margin-top: 10rem; }
  .mt-l-11 {
    margin-top: 11rem; }
  .mt-l-12 {
    margin-top: 12rem; }
  .mb-l-1 {
    margin-bottom: 1rem; }
  .mb-l-2 {
    margin-bottom: 2rem; }
  .mb-l-3 {
    margin-bottom: 3rem; }
  .mb-l-4 {
    margin-bottom: 4rem; }
  .mb-l-5 {
    margin-bottom: 5rem; }
  .mb-l-6 {
    margin-bottom: 6rem; }
  .mb-l-7 {
    margin-bottom: 7rem; }
  .mb-l-8 {
    margin-bottom: 8rem; }
  .mb-l-9 {
    margin-bottom: 9rem; }
  .mb-l-10 {
    margin-bottom: 10rem; }
  .mb-l-11 {
    margin-bottom: 11rem; }
  .mb-l-12 {
    margin-bottom: 12rem; }
  .mr-l-1 {
    margin-right: 1rem; }
  .mr-l-2 {
    margin-right: 2rem; }
  .mr-l-3 {
    margin-right: 3rem; }
  .mr-l-4 {
    margin-right: 4rem; }
  .mr-l-5 {
    margin-right: 5rem; }
  .mr-l-6 {
    margin-right: 6rem; }
  .mr-l-7 {
    margin-right: 7rem; }
  .mr-l-8 {
    margin-right: 8rem; }
  .mr-l-9 {
    margin-right: 9rem; }
  .mr-l-10 {
    margin-right: 10rem; }
  .mr-l-11 {
    margin-right: 11rem; }
  .mr-l-12 {
    margin-right: 12rem; }
  .ml-l-1 {
    margin-left: 1rem; }
  .ml-l-2 {
    margin-left: 2rem; }
  .ml-l-3 {
    margin-left: 3rem; }
  .ml-l-4 {
    margin-left: 4rem; }
  .ml-l-5 {
    margin-left: 5rem; }
  .ml-l-6 {
    margin-left: 6rem; }
  .ml-l-7 {
    margin-left: 7rem; }
  .ml-l-8 {
    margin-left: 8rem; }
  .ml-l-9 {
    margin-left: 9rem; }
  .ml-l-10 {
    margin-left: 10rem; }
  .ml-l-11 {
    margin-left: 11rem; }
  .ml-l-12 {
    margin-left: 12rem; } }

@media only screen and (max-width: 900px) {
  .mt-m-1 {
    margin-top: 1rem; }
  .mt-m-2 {
    margin-top: 2rem; }
  .mt-m-3 {
    margin-top: 3rem; }
  .mt-m-4 {
    margin-top: 4rem; }
  .mt-m-5 {
    margin-top: 5rem; }
  .mt-m-6 {
    margin-top: 6rem; }
  .mt-m-7 {
    margin-top: 7rem; }
  .mt-m-8 {
    margin-top: 8rem; }
  .mt-m-9 {
    margin-top: 9rem; }
  .mt-m-10 {
    margin-top: 10rem; }
  .mt-m-11 {
    margin-top: 11rem; }
  .mt-m-12 {
    margin-top: 12rem; }
  .mb-m-1 {
    margin-bottom: 1rem; }
  .mb-m-2 {
    margin-bottom: 2rem; }
  .mb-m-3 {
    margin-bottom: 3rem; }
  .mb-m-4 {
    margin-bottom: 4rem; }
  .mb-m-5 {
    margin-bottom: 5rem; }
  .mb-m-6 {
    margin-bottom: 6rem; }
  .mb-m-7 {
    margin-bottom: 7rem; }
  .mb-m-8 {
    margin-bottom: 8rem; }
  .mb-m-9 {
    margin-bottom: 9rem; }
  .mb-m-10 {
    margin-bottom: 10rem; }
  .mb-m-11 {
    margin-bottom: 11rem; }
  .mb-m-12 {
    margin-bottom: 12rem; }
  .mr-m-1 {
    margin-right: 1rem; }
  .mr-m-2 {
    margin-right: 2rem; }
  .mr-m-3 {
    margin-right: 3rem; }
  .mr-m-4 {
    margin-right: 4rem; }
  .mr-m-5 {
    margin-right: 5rem; }
  .mr-m-6 {
    margin-right: 6rem; }
  .mr-m-7 {
    margin-right: 7rem; }
  .mr-m-8 {
    margin-right: 8rem; }
  .mr-m-9 {
    margin-right: 9rem; }
  .mr-m-10 {
    margin-right: 10rem; }
  .mr-m-11 {
    margin-right: 11rem; }
  .mr-m-12 {
    margin-right: 12rem; }
  .ml-m-1 {
    margin-left: 1rem; }
  .ml-m-2 {
    margin-left: 2rem; }
  .ml-m-3 {
    margin-left: 3rem; }
  .ml-m-4 {
    margin-left: 4rem; }
  .ml-m-5 {
    margin-left: 5rem; }
  .ml-m-6 {
    margin-left: 6rem; }
  .ml-m-7 {
    margin-left: 7rem; }
  .ml-m-8 {
    margin-left: 8rem; }
  .ml-m-9 {
    margin-left: 9rem; }
  .ml-m-10 {
    margin-left: 10rem; }
  .ml-m-11 {
    margin-left: 11rem; }
  .ml-m-12 {
    margin-left: 12rem; } }

@media only screen and (max-width: 600px) {
  .mt-s-1 {
    margin-top: 1rem; }
  .mt-s-2 {
    margin-top: 2rem; }
  .mt-s-3 {
    margin-top: 3rem; }
  .mt-s-4 {
    margin-top: 4rem; }
  .mt-s-5 {
    margin-top: 5rem; }
  .mt-s-6 {
    margin-top: 6rem; }
  .mt-s-7 {
    margin-top: 7rem; }
  .mt-s-8 {
    margin-top: 8rem; }
  .mt-s-9 {
    margin-top: 9rem; }
  .mt-s-10 {
    margin-top: 10rem; }
  .mt-s-11 {
    margin-top: 11rem; }
  .mt-s-12 {
    margin-top: 12rem; }
  .mb-s-1 {
    margin-bottom: 1rem; }
  .mb-s-2 {
    margin-bottom: 2rem; }
  .mb-s-3 {
    margin-bottom: 3rem; }
  .mb-s-4 {
    margin-bottom: 4rem; }
  .mb-s-5 {
    margin-bottom: 5rem; }
  .mb-s-6 {
    margin-bottom: 6rem; }
  .mb-s-7 {
    margin-bottom: 7rem; }
  .mb-s-8 {
    margin-bottom: 8rem; }
  .mb-s-9 {
    margin-bottom: 9rem; }
  .mb-s-10 {
    margin-bottom: 10rem; }
  .mb-s-11 {
    margin-bottom: 11rem; }
  .mb-s-12 {
    margin-bottom: 12rem; }
  .mr-s-1 {
    margin-right: 1rem; }
  .mr-s-2 {
    margin-right: 2rem; }
  .mr-s-3 {
    margin-right: 3rem; }
  .mr-s-4 {
    margin-right: 4rem; }
  .mr-s-5 {
    margin-right: 5rem; }
  .mr-s-6 {
    margin-right: 6rem; }
  .mr-s-7 {
    margin-right: 7rem; }
  .mr-s-8 {
    margin-right: 8rem; }
  .mr-s-9 {
    margin-right: 9rem; }
  .mr-s-10 {
    margin-right: 10rem; }
  .mr-s-11 {
    margin-right: 11rem; }
  .mr-s-12 {
    margin-right: 12rem; }
  .ml-s-1 {
    margin-left: 1rem; }
  .ml-s-2 {
    margin-left: 2rem; }
  .ml-s-3 {
    margin-left: 3rem; }
  .ml-s-4 {
    margin-left: 4rem; }
  .ml-s-5 {
    margin-left: 5rem; }
  .ml-s-6 {
    margin-left: 6rem; }
  .ml-s-7 {
    margin-left: 7rem; }
  .ml-s-8 {
    margin-left: 8rem; }
  .ml-s-9 {
    margin-left: 9rem; }
  .ml-s-10 {
    margin-left: 10rem; }
  .ml-s-11 {
    margin-left: 11rem; }
  .ml-s-12 {
    margin-left: 12rem; } }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-6 {
  padding-top: 6rem; }

.pt-7 {
  padding-top: 7rem; }

.pt-8 {
  padding-top: 8rem; }

.pt-9 {
  padding-top: 9rem; }

.pt-10 {
  padding-top: 10rem; }

.pt-11 {
  padding-top: 11rem; }

.pt-12 {
  padding-top: 12rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pb-7 {
  padding-bottom: 7rem; }

.pb-8 {
  padding-bottom: 8rem; }

.pb-9 {
  padding-bottom: 9rem; }

.pb-10 {
  padding-bottom: 10rem; }

.pb-11 {
  padding-bottom: 11rem; }

.pb-12 {
  padding-bottom: 12rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pr-11 {
  padding-right: 11rem; }

.pr-12 {
  padding-right: 12rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.pl-11 {
  padding-left: 11rem; }

.pl-12 {
  padding-left: 12rem; }

@media only screen and (max-width: 1200px) {
  .pt-l-1 {
    padding-top: 1rem; }
  .pt-l-2 {
    padding-top: 2rem; }
  .pt-l-3 {
    padding-top: 3rem; }
  .pt-l-4 {
    padding-top: 4rem; }
  .pt-l-5 {
    padding-top: 5rem; }
  .pt-l-6 {
    padding-top: 6rem; }
  .pt-l-7 {
    padding-top: 7rem; }
  .pt-l-8 {
    padding-top: 8rem; }
  .pt-l-9 {
    padding-top: 9rem; }
  .pt-l-10 {
    padding-top: 10rem; }
  .pt-l-11 {
    padding-top: 11rem; }
  .pt-l-12 {
    padding-top: 12rem; }
  .pb-l-1 {
    padding-bottom: 1rem; }
  .pb-l-2 {
    padding-bottom: 2rem; }
  .pb-l-3 {
    padding-bottom: 3rem; }
  .pb-l-4 {
    padding-bottom: 4rem; }
  .pb-l-5 {
    padding-bottom: 5rem; }
  .pb-l-6 {
    padding-bottom: 6rem; }
  .pb-l-7 {
    padding-bottom: 7rem; }
  .pb-l-8 {
    padding-bottom: 8rem; }
  .pb-l-9 {
    padding-bottom: 9rem; }
  .pb-l-10 {
    padding-bottom: 10rem; }
  .pb-l-11 {
    padding-bottom: 11rem; }
  .pb-l-12 {
    padding-bottom: 12rem; }
  .pr-l-1 {
    padding-right: 1rem; }
  .pr-l-2 {
    padding-right: 2rem; }
  .pr-l-3 {
    padding-right: 3rem; }
  .pr-l-4 {
    padding-right: 4rem; }
  .pr-l-5 {
    padding-right: 5rem; }
  .pr-l-6 {
    padding-right: 6rem; }
  .pr-l-7 {
    padding-right: 7rem; }
  .pr-l-8 {
    padding-right: 8rem; }
  .pr-l-9 {
    padding-right: 9rem; }
  .pr-l-10 {
    padding-right: 10rem; }
  .pr-l-11 {
    padding-right: 11rem; }
  .pr-l-12 {
    padding-right: 12rem; }
  .pl-l-1 {
    margin-left: 1rem; }
  .pl-l-2 {
    margin-left: 2rem; }
  .pl-l-3 {
    margin-left: 3rem; }
  .pl-l-4 {
    margin-left: 4rem; }
  .pl-l-5 {
    margin-left: 5rem; }
  .pl-l-6 {
    margin-left: 6rem; }
  .pl-l-7 {
    margin-left: 7rem; }
  .pl-l-8 {
    margin-left: 8rem; }
  .pl-l-9 {
    margin-left: 9rem; }
  .pl-l-10 {
    margin-left: 10rem; }
  .pl-l-11 {
    margin-left: 11rem; }
  .pl-l-12 {
    margin-left: 12rem; } }

@media only screen and (max-width: 900px) {
  .pt-m-1 {
    padding-top: 1rem; }
  .pt-m-2 {
    padding-top: 2rem; }
  .pt-m-3 {
    padding-top: 3rem; }
  .pt-m-4 {
    padding-top: 4rem; }
  .pt-m-5 {
    padding-top: 5rem; }
  .pt-m-6 {
    padding-top: 6rem; }
  .pt-m-7 {
    padding-top: 7rem; }
  .pt-m-8 {
    padding-top: 8rem; }
  .pt-m-9 {
    padding-top: 9rem; }
  .pt-m-10 {
    padding-top: 10rem; }
  .pt-m-11 {
    padding-top: 11rem; }
  .pt-m-12 {
    padding-top: 12rem; }
  .pb-m-1 {
    padding-bottom: 1rem; }
  .pb-m-2 {
    padding-bottom: 2rem; }
  .pb-m-3 {
    padding-bottom: 3rem; }
  .pb-m-4 {
    padding-bottom: 4rem; }
  .pb-m-5 {
    padding-bottom: 5rem; }
  .pb-m-6 {
    padding-bottom: 6rem; }
  .pb-m-7 {
    padding-bottom: 7rem; }
  .pb-m-8 {
    padding-bottom: 8rem; }
  .pb-m-9 {
    padding-bottom: 9rem; }
  .pb-m-10 {
    padding-bottom: 10rem; }
  .pb-m-11 {
    padding-bottom: 11rem; }
  .pb-m-12 {
    padding-bottom: 12rem; }
  .pr-m-1 {
    padding-right: 1rem; }
  .pr-m-2 {
    padding-right: 2rem; }
  .pr-m-3 {
    padding-right: 3rem; }
  .pr-m-4 {
    padding-right: 4rem; }
  .pr-m-5 {
    padding-right: 5rem; }
  .pr-m-6 {
    padding-right: 6rem; }
  .pr-m-7 {
    padding-right: 7rem; }
  .pr-m-8 {
    padding-right: 8rem; }
  .pr-m-9 {
    padding-right: 9rem; }
  .pr-m-10 {
    padding-right: 10rem; }
  .pr-m-11 {
    padding-right: 11rem; }
  .pr-m-12 {
    padding-right: 12rem; }
  .pl-m-1 {
    padding-left: 1rem; }
  .pl-m-2 {
    padding-left: 2rem; }
  .pl-m-3 {
    padding-left: 3rem; }
  .pl-m-4 {
    padding-left: 4rem; }
  .pl-m-5 {
    padding-left: 5rem; }
  .pl-m-6 {
    padding-left: 6rem; }
  .pl-m-7 {
    padding-left: 7rem; }
  .pl-m-8 {
    padding-left: 8rem; }
  .pl-m-9 {
    padding-left: 9rem; }
  .pl-m-10 {
    padding-left: 10rem; }
  .pl-m-11 {
    padding-left: 11rem; }
  .pl-m-12 {
    padding-left: 12rem; } }

@media only screen and (max-width: 600px) {
  .pt-s-1 {
    padding-top: 1rem; }
  .pt-s-2 {
    padding-top: 2rem; }
  .pt-s-3 {
    padding-top: 3rem; }
  .pt-s-4 {
    padding-top: 4rem; }
  .pt-s-5 {
    padding-top: 5rem; }
  .pt-s-6 {
    padding-top: 6rem; }
  .pt-s-7 {
    padding-top: 7rem; }
  .pt-s-8 {
    padding-top: 8rem; }
  .pt-s-9 {
    padding-top: 9rem; }
  .pt-s-10 {
    padding-top: 10rem; }
  .pt-s-11 {
    padding-top: 11rem; }
  .pt-s-12 {
    padding-top: 12rem; }
  .pb-s-1 {
    padding-bottom: 1rem; }
  .pb-s-2 {
    padding-bottom: 2rem; }
  .pb-s-3 {
    padding-bottom: 3rem; }
  .pb-s-4 {
    padding-bottom: 4rem; }
  .pb-s-5 {
    padding-bottom: 5rem; }
  .pb-s-6 {
    padding-bottom: 6rem; }
  .pb-s-7 {
    padding-bottom: 7rem; }
  .pb-s-8 {
    padding-bottom: 8rem; }
  .pb-s-9 {
    padding-bottom: 9rem; }
  .pb-s-10 {
    padding-bottom: 10rem; }
  .pb-s-11 {
    padding-bottom: 11rem; }
  .pb-s-12 {
    padding-bottom: 12rem; }
  .pr-s-1 {
    padding-right: 1rem; }
  .pr-s-2 {
    padding-right: 2rem; }
  .pr-s-3 {
    padding-right: 3rem; }
  .pr-s-4 {
    padding-right: 4rem; }
  .pr-s-5 {
    padding-right: 5rem; }
  .pr-s-6 {
    padding-right: 6rem; }
  .pr-s-7 {
    padding-right: 7rem; }
  .pr-s-8 {
    padding-right: 8rem; }
  .pr-s-9 {
    padding-right: 9rem; }
  .pr-s-10 {
    padding-right: 10rem; }
  .pr-s-11 {
    padding-right: 11rem; }
  .pr-s-12 {
    padding-right: 12rem; }
  .pl-s-1 {
    padding-left: 1rem; }
  .pl-s-2 {
    padding-left: 2rem; }
  .pl-s-3 {
    padding-left: 3rem; }
  .pl-s-4 {
    padding-left: 4rem; }
  .pl-s-5 {
    padding-left: 5rem; }
  .pl-s-6 {
    padding-left: 6rem; }
  .pl-s-7 {
    padding-left: 7rem; }
  .pl-s-8 {
    padding-left: 8rem; }
  .pl-s-9 {
    padding-left: 9rem; }
  .pl-s-10 {
    padding-left: 10rem; }
  .pl-s-11 {
    padding-left: 11rem; }
  .pl-s-12 {
    padding-left: 12rem; } }

button {
  border: none;
  outline: none;
  background: transparent; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #fff;
  transition: background-color 0.5s ease-in-out; }
  .nav__menu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end; }
  .nav__item:not(:last-child) {
    margin-right: 20px; }
  .nav__link {
    color: #000;
    font-weight: 600;
    transition: color 0.5s; }
  .nav .logo img {
    height: 84px;
    transition: height 0.5s; }
  .nav.is-sticky {
    background-color: #000; }
  .nav.is-sticky .nav__link {
    color: #fff; }
  .nav.is-sticky .logo img {
    height: 64px; }

.hambuger-btn__wrap-line {
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer; }

.hambuger-btn span {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #143240;
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color; }

.hambuger-btn span:nth-of-type(1) {
  width: 50%; }

.hambuger-btn span:nth-of-type(2) {
  width: 100%; }

.hambuger-btn span:nth-of-type(3) {
  width: 75%; }

input[type="checkbox"]:checked ~ .hambuger-btn__wrap-line {
  transform: translateY(-50%) rotateZ(-90deg); }

.hambuger-btn input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked ~ .hambuger-btn__wrap-line span {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: #ffc107; }

section {
  height: 100vh;
  padding: 20px 50px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

section:nth-of-type(1) {
  margin-top: 84px;
  background-color: #98ddca; }

section:nth-of-type(2) {
  background-color: #d5ecc2; }

section:nth-of-type(3) {
  background-color: #ffd3b4; }

section:nth-of-type(4) {
  background-color: #ffaaa7; }

section:nth-of-type(5) {
  background-color: #98ddca; }

section:nth-of-type(6) {
  background-color: #d5ecc2; }

.container-full {
  width: 100%;
  margin: 0 auto; }

.container {
  width: 0.84375;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 90%; } }

.row {
  margin: 0 -1.5rem;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 900px) {
    .row:not(:last-child) {
      margin-bottom: 3rem; } }

[class^="col-"] {
  margin-bottom: 3rem;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 600px) {
    [class^="col-"] {
      padding: 0 2rem; } }

.col-1 {
  flex: 0 0 calc((100% / 12) *1);
  max-width: calc((100% / 12) *1); }

.col-2 {
  flex: 0 0 calc((100% / 12) *2);
  max-width: calc((100% / 12) *2); }

.col-3 {
  flex: 0 0 calc((100% / 12) *3);
  max-width: calc((100% / 12) *3); }

.col-4 {
  flex: 0 0 calc((100% / 12) *4);
  max-width: calc((100% / 12) *4); }

.col-5 {
  flex: 0 0 calc((100% / 12) *5);
  max-width: calc((100% / 12) *5); }

.col-6 {
  flex: 0 0 calc((100% / 12) *6);
  max-width: calc((100% / 12) *6); }

.col-7 {
  flex: 0 0 calc((100% / 12) *7);
  max-width: calc((100% / 12) *7); }

.col-8 {
  flex: 0 0 calc((100% / 12) *8);
  max-width: calc((100% / 12) *8); }

.col-9 {
  flex: 0 0 calc((100% / 12) *9);
  max-width: calc((100% / 12) *9); }

.col-10 {
  flex: 0 0 calc((100% / 12) *10);
  max-width: calc((100% / 12) *10); }

.col-11 {
  flex: 0 0 calc((100% / 12) *11);
  max-width: calc((100% / 12) *11); }

.col-12 {
  flex: 0 0 calc((100% / 12) *12);
  max-width: calc((100% / 12) *12); }

@media only screen and (max-width: 1200px) {
  .col-l-1 {
    flex: 0 0 calc((100% / 12) *1);
    max-width: calc((100% / 12) *1); }
  .col-l-2 {
    flex: 0 0 calc((100% / 12) *2);
    max-width: calc((100% / 12) *2); }
  .col-l-3 {
    flex: 0 0 calc((100% / 12) *3);
    max-width: calc((100% / 12) *3); }
  .col-l-4 {
    flex: 0 0 calc((100% / 12) *4);
    max-width: calc((100% / 12) *4); }
  .col-l-5 {
    flex: 0 0 calc((100% / 12) *5);
    max-width: calc((100% / 12) *5); }
  .col-l-6 {
    flex: 0 0 calc((100% / 12) *6);
    max-width: calc((100% / 12) *6); }
  .col-l-7 {
    flex: 0 0 calc((100% / 12) *7);
    max-width: calc((100% / 12) *7); }
  .col-l-8 {
    flex: 0 0 calc((100% / 12) *8);
    max-width: calc((100% / 12) *8); }
  .col-l-9 {
    flex: 0 0 calc((100% / 12) *9);
    max-width: calc((100% / 12) *9); }
  .col-l-10 {
    flex: 0 0 calc((100% / 12) *10);
    max-width: calc((100% / 12) *10); }
  .col-l-11 {
    flex: 0 0 calc((100% / 12) *11);
    max-width: calc((100% / 12) *11); }
  .col-l-12 {
    flex: 0 0 calc((100% / 12) *12);
    max-width: calc((100% / 12) *12); } }

@media only screen and (max-width: 900px) {
  .col-m-1 {
    flex: 0 0 calc((100% / 12) *1);
    max-width: calc((100% / 12) *1); }
  .col-m-2 {
    flex: 0 0 calc((100% / 12) *2);
    max-width: calc((100% / 12) *2); }
  .col-m-3 {
    flex: 0 0 calc((100% / 12) *3);
    max-width: calc((100% / 12) *3); }
  .col-m-4 {
    flex: 0 0 calc((100% / 12) *4);
    max-width: calc((100% / 12) *4); }
  .col-m-5 {
    flex: 0 0 calc((100% / 12) *5);
    max-width: calc((100% / 12) *5); }
  .col-m-6 {
    flex: 0 0 calc((100% / 12) *6);
    max-width: calc((100% / 12) *6); }
  .col-m-7 {
    flex: 0 0 calc((100% / 12) *7);
    max-width: calc((100% / 12) *7); }
  .col-m-8 {
    flex: 0 0 calc((100% / 12) *8);
    max-width: calc((100% / 12) *8); }
  .col-m-9 {
    flex: 0 0 calc((100% / 12) *9);
    max-width: calc((100% / 12) *9); }
  .col-m-10 {
    flex: 0 0 calc((100% / 12) *10);
    max-width: calc((100% / 12) *10); }
  .col-m-11 {
    flex: 0 0 calc((100% / 12) *11);
    max-width: calc((100% / 12) *11); }
  .col-m-12 {
    flex: 0 0 calc((100% / 12) *12);
    max-width: calc((100% / 12) *12); } }

@media only screen and (max-width: 600px) {
  .col-s-1 {
    flex: 0 0 calc((100% / 12) *1);
    max-width: calc((100% / 12) *1); }
  .col-s-2 {
    flex: 0 0 calc((100% / 12) *2);
    max-width: calc((100% / 12) *2); }
  .col-s-3 {
    flex: 0 0 calc((100% / 12) *3);
    max-width: calc((100% / 12) *3); }
  .col-s-4 {
    flex: 0 0 calc((100% / 12) *4);
    max-width: calc((100% / 12) *4); }
  .col-s-5 {
    flex: 0 0 calc((100% / 12) *5);
    max-width: calc((100% / 12) *5); }
  .col-s-6 {
    flex: 0 0 calc((100% / 12) *6);
    max-width: calc((100% / 12) *6); }
  .col-s-7 {
    flex: 0 0 calc((100% / 12) *7);
    max-width: calc((100% / 12) *7); }
  .col-s-8 {
    flex: 0 0 calc((100% / 12) *8);
    max-width: calc((100% / 12) *8); }
  .col-s-9 {
    flex: 0 0 calc((100% / 12) *9);
    max-width: calc((100% / 12) *9); }
  .col-s-10 {
    flex: 0 0 calc((100% / 12) *10);
    max-width: calc((100% / 12) *10); }
  .col-s-11 {
    flex: 0 0 calc((100% / 12) *11);
    max-width: calc((100% / 12) *11); }
  .col-s-12 {
    flex: 0 0 calc((100% / 12) *12);
    max-width: calc((100% / 12) *12); } }
