// ====================STICKEY NAVIGATION
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: $color-white;
  transition: background-color 0.5s ease-in-out;

  &__menu {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__link {
    color: $color-dark;
    font-weight: 600;
    transition: color 0.5s;
  }
  .logo img {
    height: 84px;
    transition: height 0.5s;
  }
  &.is-sticky {
    background-color: $color-dark;
  }
  &.is-sticky &__link {
    color: $color-white;
  }
  &.is-sticky .logo img {
    height: 64px;
  }
}

// HAMBURGER BUTTON
.hambuger-btn {
  &__wrap-line {
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    transition: 0.3s ease transform;
    cursor: pointer;
  }
  span {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #143240;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
      0.3s ease background-color;
  }
  span:nth-of-type(1) {
    width: 50%;
  }

  span:nth-of-type(2) {
    width: 100%;
  }

  span:nth-of-type(3) {
    width: 75%;
  }

  input[type="checkbox"]:checked ~ &__wrap-line {
    transform: translateY(-50%) rotateZ(-90deg);
  }
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ &__wrap-line span {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: #ffc107;
  }
}

section {
  height: 100vh;
  padding: 20px 50px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

section:nth-of-type(1) {
  margin-top: 84px;
  background-color: #98ddca;
}
section:nth-of-type(2) {
  background-color: #d5ecc2;
}
section:nth-of-type(3) {
  background-color: #ffd3b4;
}
section:nth-of-type(4) {
  background-color: #ffaaa7;
}
section:nth-of-type(5) {
  background-color: #98ddca;
}
section:nth-of-type(6) {
  background-color: #d5ecc2;
}
