.container-full {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: $width-desk / $width-screen;
  margin: 0 auto;
  @include screen(tab-l) {
    width: 90%;
  }
}
.row {
  margin: 0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
  @include screen(tab-p) {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
[class^="col-"] {
  margin-bottom: 3rem;
  padding: 0 1.5rem;
  @include screen(sp) {
    padding: 0 2rem;
  }
}
//col normal
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc((100% / 12) *#{$i});
    max-width: calc((100% / 12) *#{$i});
  }
}
//col large screen
@include screen(tab-l) {
  @for $i from 1 through 12 {
    .col-l-#{$i} {
      flex: 0 0 calc((100% / 12) *#{$i});
      max-width: calc((100% / 12) *#{$i});
    }
  }
}
//col medium screen
@include screen(tab-p) {
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      flex: 0 0 calc((100% / 12) *#{$i});
      max-width: calc((100% / 12) *#{$i});
    }
  }
}
//col small screen
@include screen(sp) {
  @for $i from 1 through 12 {
    .col-s-#{$i} {
      flex: 0 0 calc((100% / 12) *#{$i});
      max-width: calc((100% / 12) *#{$i});
    }
  }
}
